# Environnement virtuel
venv/
.venv/

# Données
data/
!data/raw/.gitkeep
!data/raw/retail_customers_COMPLETE_CATEGORICAL.csv

# Modèles (fichiers lourds)
models/*.joblib
models/*.pkl

# Notebooks (peuvent contenir des outputs)
notebooks/.ipynb_checkpoints/

# Fichiers Python
__pycache__/
*.pyc

# VS Code
.vscode/

# OS
.DS_Store

# Script PowerShell pour créer un fichier .gitkeep dans chaque dossier spécifié
create-gitkeep.ps1 
